body{
  font-family: 'Literata';
  font-size: 15px;

  }
  .first{
  background-image: url("images/back/first.jpg");
  background-size: cover;
  height: 500px;
}
.logo{
  margin-top: 100px;
  padding-left: 600px;
}
h1{
  text-align: center;
}
.first p{
  text-align: center;
}
.mouse{
  margin-top: 100px;
  padding-left: 600px;
}
.about p{
  text-align: center;
}
.second{
  background-image: url("images/back/second.jpg");
}
.second h1{
  color: white;
}
.second p{
  text-align: center;
  color: white;
}
.port{
  image-orientation: 60px;
  
}
