.first{
  background-image: url("images/back/first.jpg");
  background-size: cover;
  height: 500px;
}
.logo{
  margin-top: 100px;
  padding-left: 600px;
}
h1{
  text-align: center;
}
.first p{
  text-align: center;
}
.mouse{
  margin-top: 100px;
  padding-left: 600px;
}
